/* Reset some default styles */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Astloch:wght@400;700&family=Eagle+Lake&family=Euphoria+Script&family=Explora&family=Grenze+Gotisch&family=Jim+Nightshade&family=Meddon&family=MedievalSharp&family=My+Soul&family=Pixelify+Sans&family=UnifrakturCook:wght@700&family=Whisper&family=WindSong&display=swap');
/* 

font-family: 'Arizonia', cursive;
font-family: 'Astloch', system-ui;
font-family: 'Eagle Lake', serif;
font-family: 'Euphoria Script', cursive;
font-family: 'Explora', serif;
font-family: 'Grenze Gotisch', serif;
font-family: 'Jim Nightshade', cursive;
font-family: 'Meddon', cursive;
font-family: 'MedievalSharp', cursive;
font-family: 'My Soul', cursive;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'UnifrakturCook', cursive;
font-family: 'Whisper', cursive;
font-family: 'WindSong', cursive;
*/

  /* ---- */
:root{
    --ink:#3a2812;
    --inkRed:#7a3e3ed8;
    --paper:#bda67a;
    --paperDarker:#3a2812;
    --bgBlue:#14161f;
    --linkBlue:#91abc7;

}
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

h3,h4 {
    margin-top: 2%;
    margin-bottom: 4%;
    padding:0;
    color: var(--ink);
}
h5 {
    margin-top: 0px;
    margin-bottom: -35px;
    padding:0;
    color: var(--ink);
}

img {
    filter: grayscale(50%) contrast(700%) brightness(80%) saturate(120%);
}

canvas {
    background: url('images/texture.jpg') center/cover no-repeat;
    mix-blend-mode: multiply;
}



body {
    font-family: 'MedievalSharp', cursive;
    /* 
    font-family: 'Eagle Lake', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Astloch', system-ui;
    font-family: 'Grenze Gotisch', serif;
    font-family: 'Jim Nightshade', cursive;
    font-family: 'WindSong', cursive;
    font-family: 'UnifrakturCook', cursive;
    
    font-family: 'Euphoria Script', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Whisper', cursive;
    
    font-family: 'Explora', serif;
    font-family: 'Meddon', cursive;
    font-family: 'open sans';
    font-family: 'Arizonia', cursive;
    */
    font-size:xx-large;
    font-weight: 100;
    line-height: 1.2;
    /* color: #ffffff00; */
    
    background-color: var(--paperDarker);

}

header {
    background-color: hsl(230, 20%, 15%);
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

p{
    color:var(--ink);
    font-size: 70%;
    white-space:pre-line;
    
}
b{
    color:var(--inkRed);
}

i{
    color:var(--inkRed);
}
h1 {
    color: var(--paper);
}

h2, h3 {
    color: #000000;
}
h4 {
    color: #000000;
    text-align: center;
    font-size: xx-large;
}



h6{
    margin:0;
    padding:0;
    color:var(--inkRed);
    font-size: 95%;
}

nav {
    background-color: hsl(230, 20%, 10%);
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    
    max-width: 900px;
    margin: 2em auto;
    padding: 0.5em;
    padding-top: 1.5em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    padding-bottom: 1.5em;
    /* background-color: #bda67a; */
    background-image:linear-gradient( to right,var(--paperDarker)1%,var(--paper)10%,var(--paper)60%,var(--paperDarker)160%) ;
    border-radius: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: none;
    /* opacity: 0.9; */
    /* background-image: image('images/texture.jpg'); */
    /* background-image: url('images/texture.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */

}


.div1 {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 99%;
    height: 99%;
    border: 1px solid rgba(233, 233, 238, 0.11);
  }



footer {
    background-color: var(--bgBlue);
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

/* Links */
a {
    color: #91abc7;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 2%;
    font-weight: bold;
}

a:hover {
    color: #272725;
    background-color: var(--paper);

    
}

/* Buttons */
button, .button {
    display:inline-block;
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #0056b3;
}

/* Forms */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}



/* images */

.frame-image {
    /* border:3px solid var(--ink); */
    padding:0.5em;
    width:95% ;
    float:inline-end;

}
.frame-image img { 
    display: block; 
    margin-bottom: 10px; 
    width: 100%; 
  }